<DOCTYPE! html>
    <html ng-app="app">

    <head>
        <title>Budget Tracker</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="main.css">
    </head>

    <body ng-controller="MainController">
            <h1>Budget Tracker</h1>
        <div class="container">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-income">Income Entries</div>
                    <div class="panel-body">
                        <label for="incomeDescriptionInput">Description</label>
                        <br>
                        <input class="form-control" ng-model="newIncomeDesc" id="incomeDescriptionInput" type="text">
                        <br>
                        <label for="incomeAmountInput">Amount</label>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" ng-model="newIncomeAmount" id="incomeAmountInput" type="number">
                        </div>
                        <br>
                        <button id ="addIncomeButton" class="btn btn-block" ng-click="addNewIncomeEntry(incomeEntry)" href="">+ Add Income</button>
                        <br>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-9">Description</th>
                                    <th class="col-md-3">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="income in allIncomes">
                                    <td class="col-md-9">{{income.newIncDesc}}</td>
                                    <td class="col-md-3">{{income.newIncAmount | currency}} <a ng-click="removeIncome(income, $index)" href="" title="delete"><img class="trashcan" src="http://i.imgur.com/BHzKyhL.png"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-expense">Expense Entries</div>
                    <div class="panel-body">
                        <label for="expenseDescriptionInput">Description</label>
                        <br>
                        <input class="form-control" ng-model="newExpenseDesc" id="expenseDescriptionInput" type="text">
                        <br>
                        <label for="expenseAmountInput">Amount</label>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" ng-model="newExpenseAmount" id="expenseAmountInput" type="number">
                        </div>
                        <br>
                        <button id="addExpenseButton" class="btn btn-block" ng-click="addNewExpenseEntry(expenseEntry)" href="">+ Add Expense</button>
                        <br>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-9">Description</th>
                                    <th class="col-md-3">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="expense in allExpenses">
                                    <td class="col-md-9">{{expense.newExpDesc}}</td>
                                    <td class="col-md-3">{{expense.newExpAmount | currency}} <a ng-click="removeExpense(expense, $index)" href="" title="delete"><img class="trashcan" src="http://i.imgur.com/BHzKyhL.png"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        	<div class="col-md-6 col-md-offset-3">	
        		<div class="panel panel-default">
                    <div class="panel-heading panel-heading-summary">Summary</div>
                    <div class="panel-body">
                    <div class="row">
            <div class="col-md-4 col-md-offset-1" id="totalIncomeText">
                <p class="bottomBold">Total Income</p>
                <p>{{totalIncome() | currency}}</p>
            </div>
            <div class="col-md-4 col-md-offset-2" id="totalExpenseText">
                <p class="bottomBold">Total Expense</p>
                <p>{{totalExpenses() | currency}}</p>
            </div>
            </div>
            <div class="row">
            <div class="col-md-4 col-md-offset-4" id="leftText">
                <p class="bottomBold">Left After Spending</p>
                <p>{{totalIncome() - totalExpenses() | currency}}</p>
                </div>
            </div>
            </div>
            </div>
            </div>
        </div>
        <script src="bower_components/angular/angular.js"></script>
        <script src="index.js"></script>
    </body>

    </html>
